<div class="container my-4 wf-mplus1p">
  <h2 class="mb-4 mx-1">スポットの情報を編集</h2>

  <%= form_with model: @place, url: place_path, local:true do |f| %>
    <div class="my-3 mx-1">
      <div class="row my-3">
      <% @place.place_images.each do |image| %>
        <div class="col-3">
          <%= attachment_image_tag image, :image, :fill, 200, 200, format: 'jpeg', class:"w-100" %><br>
          <%= link_to "削除" ,place_image_path(image), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-outline-warning btn btn-sm my-1" %>
        </div>
      <% end %>
      </div>
      <p>※画像の追加</p>
      <%= f.attachment_field :place_images_images, multiple: true %>
    </div>
    <div class="my-4 mx-1">
      <%= f.label "スポット名" %><br>
      <%= f.text_field :name, autofocus: true, class: "form-control", id: "exampleFormControlInput1",　required: true %>
    </div>
    <div class="my-4 mx-1">
      <%= f.label "場所" %><br>
      <%= f.text_field :address, autofocus: true, class: "form-control", id: "exampleFormControlInput1",　required: true %>
    </div>
    <div class="my-4 mx-1">
      <%= f.label "料金" %><br>
      <%= f.text_field :price, autofocus: true, class: "form-control", id: "exampleFormControlInput1",　required: true %>
    </div>
    <div class="my-4 mx-1">
      <%= f.label "カテゴリー" %><br>
      <%= f.radio_button :category, Place.categories.key(0), checked: true %>
      <%= f.label "ドッグラン" %>
      <%= f.radio_button :category, Place.categories.key(1) %>
      <%= f.label "ドッグカフェ" %>
      <%= f.radio_button :category, Place.categories.key(2) %>
      <%= f.label "カフェ・レストラン（犬の店内利用可）" %>
      <%= f.radio_button :category, Place.categories.key(3) %>
      <%= f.label "公園" %>
      <%= f.radio_button :category, Place.categories.key(4) %>
      <%= f.label "自然" %>
    </div>
    <div class="m-1">
      <%= f.label "詳細" %><br>
      <%= f.text_area :detail, autofocus: true, class: "form-control", id: "exampleFormControlInput1"%>
    </div>
    <div class="mt-4 mb-3 mx-1">
      <%= f.submit "登録する", class: "btn btn-outline-info" %>
      <%= link_to "削除する", place_path(@place.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-outline-warning" %>
    </div>
  <% end %>
</div>
