<div class="container my-4 wf-mplus1p">
  <h2 class="mb-4 mx-1">新規スポットを登録</h2>

  <%= form_with model: @place, url: places_path, local:true do |f| %>
    <div class="my-3 mx-1">
      <label for="inputImage">画像</label><br />
      <%= f.attachment_field :place_images_images, multiple: true %>
    </div>
    <div class="m-1">
      <label for="exampleFormControlInput1" class="form-label">
        <%= f.label "スポット名" %><br />
      </label>
      <%= f.text_field :name, autofocus: true, class: "form-control", id: "exampleFormControlInput1"%>
    </div>
    <div class="m-1">
      <label for="exampleFormControlInput1" class="form-label">
        <%= f.label "場所" %><br />
      </label>
      <%= f.text_field :address, autofocus: true, class: "form-control", id: "exampleFormControlInput1"%>
    </div>
    <div class="m-1">
      <label for="exampleFormControlInput1" class="form-label">
        <%= f.label "料金" %><br />
      </label>
      <%= f.text_field :price, autofocus: true, class: "form-control", id: "exampleFormControlInput1"%>
    </div>
    <div class="my-4 mx-1">
      <label for="exampleFormControlInput1" class="form-label">
        <%= f.label "カテゴリー" %>
      </label><br />
      <%= f.radio_button :category, Place.categories.key(0), checked: true %>
      <%= f.label "ドッグラン" %>
      <%= f.radio_button :category, Place.categories.key(1) %>
      <%= f.label "ドッグカフェ" %>
      <%= f.radio_button :category, Place.categories.key(2) %>
      <%= f.label "カフェ・レストラン（犬の店内利用可）" %>
      <%= f.radio_button :category, Place.categories.key(3) %>
      <%= f.label "公園" %>
      <%= f.radio_button :category, Place.categories.key(4) %>
      <%= f.label "自然" %>
    </div>
    <div class="m-1">
      <label for="exampleFormControlInput1" class="form-label">
        <%= f.label "詳細" %><br />
      </label>
      <%= f.text_area :detail, autofocus: true, class: "form-control", id: "exampleFormControlInput1"%>
    </div>
    <div class="mt-4 mb-3 mx-1">
      <%= f.submit "登録する", class: "btn btn-outline-info" %>
    </div>
  <% end %>
</div>